/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

a {
  color: #7FFFD4;
}

body {
  font-family: 'Castoro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  /*Sets the font size to 16px*/
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
  background-color: #0000CD;
  color: #7FFFD4;
}


h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 50px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

.cv {
  margin-left: 25px;
  margin-top: 50px;
}

a {
  color: #7FFFD4;
}



  a:hover, a:focus {
      /* No underlining when hovering over a link*/
      font-weight: bold;
  }

  a:active {
      /* selected link*/
      color: #7FFFD4;
  }

  li {
      list-style-type: none;
  }

button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font, color, and text decoration (underline, etc.) of the button */
  background-color: #F1ab85;
  color: #0000CD;
  margin-left: 100px;
  text-decoration: none;
  /*adds spacing to the button*/
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format*/
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

  button:hover {
      /* lets the mouse appear as a hand when hovering over the button */
      cursor: pointer;
      /* reduces the opacity of the button to 80% */
      opacity: 0.8;
  }

  button:focus {
      /* lets the mouse appear as a hand when hovering over the button */
      cursor: pointer;
      /* reduces the opacity of the button to 80% */
      opacity: 0.8;
  }

.button__secondary {
  background-color: #7FFFD4;
  color: #0000CD;
}

main {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-about {
  margin-top: 40px;
  text-align: center;
}

.profile {
  max-width: 700px;
  display: undefined;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile__portrait {
  text-align: center;
}

.profile__portrait img {
  height: 300px;
  width: 225px;
  margin: auto;
  border-radius: 50%;
  display: undefined;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.profile__welcome {
  display: undefined;
  text-align: center;
}

.enterprise_logo {
  margin: 25px;
  display: inline-block;
  height: 150px;
}

.navigation-list {
  list-style-type: none;
  margin-right: 25px;
}

  .navigation-list li {
      display: inline-block;
      margin-left: 15px;
      font-size: 25px;
  }



.top-menu {
  display: inline;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 32rem;
  margin-bottom: 10px;
}


* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  width: 25%;
  height: 150px;
  margin: 25px;
}

.about__face {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  width: 300px;
  height: 400px;
  margin: 25px;
  margin-top: 50px;
  margin-left: 50px;
}


.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.main-contact {
  margin: 50px auto;
  display: undefined;
  text-align: center;
  width: 100%;
}

.main-work {
  margin: 50px auto;
  display: undefined;
  text-align: center;
  width: 100%;
}

.grid {
  display: -ms-grid;
  display: grid;
  margin: 15px 140px 20px 140px;
  -ms-grid-columns: 750px 20px 750px;
  grid-template-columns: 750px 750px;
  -ms-grid-rows: 815px 20px 325px;
  grid-template-rows: 815px 325px;
  grid-gap: 20px;
  max-width: 100%;
}

.grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.grid__item {
  background-color: #7FFFD4;
  color: #0000CD;
  padding: 25px;
  display: inline-block;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 51rem;
}

.project {
margin-bottom: 0.5rem;
}

.contact__grid {
  display: -ms-grid;
  display: grid;
  margin: 15px 140px 20px 140px;
  -ms-grid-columns: 1500px 20px 1500px;
  grid-template-columns: 1500px 1500px;
  -ms-grid-rows: 1500px;
  grid-template-rows: 1500px;
  grid-gap: 20px;
  text-align: left;
  max-width: 100%;
  display: undefined;
}

.contact__grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.contact__grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.contact__item {
  background-color: #7FFFD4;
  color: #0000CD;
  display: inline-block;
  width: 100%;
  padding-left: 20px;
  height: 750px;
}

#fullname, #contact-email {
  width: 30%;
}

#my-input {
  width: 275px;
}

#aboutyou {
  width: 90%;
  height: 150px;
}

#need {
  width: 90%;
  height: 150px;
}

#message {
  width: 90%;
  height: 150px;
}

.contact__button {
  margin-left: 250px;
  background-color: #F1ab85;
  color: #0000CD;
}

#contact__button {
  margin-left: 250px;
  background-color: #F1ab85;
  color: #0000CD;
}

.contact__item a {
  color: #0000CD;
}

.main-work h1 {
  text-align: center;
}


.links {
  display: undefined;
  text-align: center;
  margin-top: 30px;
}

.work__link {
  margin-top: 60px;
  text-align: center;
}

.social-media {
  text-align: center;
}

  .social-media p {
      text-align: center;
  }

.icon-container {
  text-align: center;
}

.social-media__icon {
  margin-right: 10px;
}

.profile_about {
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.github__button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font, color, and text decoration (underline, etc.) of the button */
  background-color: #0000CD;
  color: #F1ab85;
  text-decoration: none;
  /*adds spacing to the button*/
  padding: 20px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format*/
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  margin: auto 3rem;
}

button:hover {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}




.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: #F1ab85;
  color: #0000CD;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  /* [transition-property] [transition-duration] [transition-timing-function] [transition-delay] */
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}




button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: #F1ab85;
  color: #0000CD;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  /* [transition-property] [transition-duration] [transition-timing-function] [transition-delay] */
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

  button:hover {
      /* lets the mouse appear as a hand when hovering over the button */
      cursor: pointer;
      /* reduces the opacity of the button to 80% */
      opacity: 0.8;
  }

  button {
      /* lets the mouse appear as a hand when hovering over the button */
      cursor: pointer;
      /* reduces the opacity of the button to 80% */
      opacity: 0.8;
  }

  focus {
      /* lets the mouse appear as a hand when hovering over the button */
      cursor: pointer;
      /* reduces the opacity of the button to 80% */
      opacity: 0.8;
  }

  .button:hover {
      /* lets the mouse appear as a hand when hovering over the button */
      cursor: pointer;
      /* reduces the opacity of the button to 80% */
      opacity: 0.8;
  }

  .button:focus {
      /* lets the mouse appear as a hand when hovering over the button */
      cursor: pointer;
      /* reduces the opacity of the button to 80% */
      opacity: 0.8;
  }

svg {
  max-width: 25%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


#contact__item-one {
  height: 700px;
}

#contact__item-two {
  height: 450px;
}

#contact__item-three {
  height: 150px;
}

#contact__item-four {
  height: 275px;
}

@media all and (max-width: 640px) {
  body {
      font-size: 0.5em;
      width: 640px;
  }

  .about__face {
      width: 240px;
      height: 320px;
  }

  .page-header {
      width: 100%;
  }

  .page-header__item {
      margin-top: 25px;
  }

  .grid, .contact__grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  }

  .contact__grid {
      margin-left: 10px;
      margin-right: 10px;
  }

  .contact_item {
      width: 97%;
      margin-bottom: 15px;
  }

  #contact__item-one {
      height: 700px;
  }

  #contact__item-two {
      height: 425px;
  }


  #contact__item-three {
      height: 150px;
  }

  #contact__item-four {
      height: 275px;
  }

  /*svg {
      margin-top: 15px;
  }*/
}


@media all and (min-width: 640px) and (max-width: 768px) {

}

@media all and (min-width: 768px) and (max-width: 1024px) {
  body {
      font-size: 0.75em;
      width: 100%;
      margin: 0px;
      -ms-grid-columns: 700px 0px;
      grid-template-columns: 700px 0px;
      -ms-grid-rows: 365px 0px;
      grid-template-rows: 365px 0px;
  }
  body > *:nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
  }
  body > *:nth-child(2) {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
  }
  body > *:nth-child(3) {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
  }
  body > *:nth-child(4) {
      -ms-grid-row: 2;
      -ms-grid-column: 2;
  }

  .about__face {
      width: 210px;
      height: 280px;
      margin-left: 40px;
  }

  .navigation-list {
      padding-left: 0px;
  }

  body {
      margin: 15px 10px 300px 35px;
  }

  .page-header {
      width: 100%;
      margin-left: 0px;
  }

  .page-header__item {
      margin-top: 25px;
      margin-right: 35px;
  }

  
  .grid {
      -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr;
      display: -ms-grid;
      display: grid;
      margin: 15px 100px 20px 100px;
      grid-gap: 20px;
  }


  .contact__grid {
      -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr;
      display: -ms-grid;
      display: grid;
      margin: 0px 85px 5px 0px;
      -ms-grid-columns: 440px 20px 0px;
      grid-template-columns: 440px 0px;
      -ms-grid-rows: 365px 20px 0px;
      grid-template-rows: 365px 0px;
      grid-gap: 20px;
      max-width: 665px;
  }


  .contact__grid > *:nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
  }


  .contact__grid > *:nth-child(2) {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
  }


  .contact__grid > *:nth-child(3) {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
  }


  .contact__grid > *:nth-child(4) {
      -ms-grid-row: 3;
      -ms-grid-column: 3;
  }


  .contact__grid > *:nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
  }


  .contact__grid > *:nth-child(2) {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
  }


  .contact__grid > *:nth-child(3) {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
  }


  .contact__grid > *:nth-child(4) {
      -ms-grid-row: 3;
      -ms-grid-column: 3;
  }

  #contact__item-one {
      height: 705px;
      width: 925px;
  }

  #contact__item-two {
      height: 460px;
      margin-top: 325px;
      width: 925px;

  }

  #contact__item-three {
      height: 150px;
      margin-top: 405px;
      width: 925px;
  }

  #contact__item-four {
      height: 200px;
      margin-top: 185px;
      width: 925px;
  }

  .main-contact h1 {
      font-size: 25px;
  }

  .navigation-list li {
      font-size: 1.25em;
  }
  

  /*svg {
    margin-top: var(--margin-top-50);
      margin-left: var(--margin-left-15);
  }*/
}


@media all and (min-width: 1025px) {
  body {
      font-size: 1em;
      width: 100%;
      margin-left: 1em;
      margin-top: 20px;
  }

  .grid {
      -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr;
  }

  .contact__grid {
      -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr;
  }

  .contact__item {
      height: 750px;
      max-width: 85%;
  }

  .about__face {
      width: 300px;
      height: 400px;
      margin-left: 165px;
  }
/*
  .contact__grid {
      max-width: 80%;
      margin: 15px 100px 15px 65px;
      grid-template-columns: 380px 250px;
      grid-template-rows: 435px 0px;
  }
*/
  #contact__item-one {
      height: 700px;
      width: 80%;
  }

  #contact__item-two {
      height: 470px;
      width: 80%;
  }

  #contact__item-three {
      height: 170px;
      width: 80%;
      margin-bottom: 15px;
  }

  #contact__item-four {
      width: 80%;
      height: 250px;
      margin-top: 0px;
  }

@-webkit-keyframes sky-color-change {
  0% {
      fill: #88C5CC;
  }

  25% {
      fill: #638F94;
  }

  50% {
      fill: #3E5A5D;
  }

  75% {
      fill: #192425;
  }

  100% {
      fill: #AAF6FF;
  }
}

@keyframes sky-color-change {
  0% {
      fill: #88C5CC;
  }

  25% {
      fill: #638F94;
  }

  50% {
      fill: #3E5A5D;
  }

  75% {
      fill: #192425;
  }

  100% {
      fill: #AAF6FF;
  }
}

@-webkit-keyframes light-color-change {
  0% {
      fill: #F5F5F5;
  }

  25% {
      fill: #FFEB3B8F;
  }

  50% {
      fill: #FFEB3BCC;
  }

  75% {
      fill: #FFEB3B;
  }

  100% {
      fill: #F5F5F55E;
  }
}

@keyframes light-color-change {
  0% {
      fill: #F5F5F5;
  }

  25% {
      fill: #FFEB3B8F;
  }

  50% {
      fill: #FFEB3BCC;
  }

  75% {
      fill: #FFEB3B;
  }

  100% {
      fill: #F5F5F55E;
  }
}



circle {
  -webkit-animation: 20s sky-color-change infinite alternate linear;
          animation: 20s sky-color-change infinite alternate linear;
}

#left_light, #right_light, #light {
  -webkit-animation: 20s light-color-change infinite alternate linear;
          animation: 20s light-color-change infinite alternate linear;
}

@-webkit-keyframes wave-move {
  0% {
      -webkit-transform: translate(20px, 20px);
              transform: translate(20px, 20px)
  }

  25% {
      -webkit-transform: translate(30px, 30px);
              transform: translate(30px, 30px)
  }

  50% {
      -webkit-transform: translate(40px, 40px);
              transform: translate(40px, 40px)
  }

  75% {
      -webkit-transform: translate(50px, 50px);
              transform: translate(50px, 50px)
  }

  100% {
      -webkit-transform: translate(10px, 10px);
              transform: translate(10px, 10px)
  }
}

@keyframes wave-move {
  0% {
      -webkit-transform: translate(20px, 20px);
              transform: translate(20px, 20px)
  }

  25% {
      -webkit-transform: translate(30px, 30px);
              transform: translate(30px, 30px)
  }

  50% {
      -webkit-transform: translate(40px, 40px);
              transform: translate(40px, 40px)
  }

  75% {
      -webkit-transform: translate(50px, 50px);
              transform: translate(50px, 50px)
  }

  100% {
      -webkit-transform: translate(10px, 10px);
              transform: translate(10px, 10px)
  }
}

#back__waves, #middle__waves, #front__waves {
  -webkit-animation: 20s wave-move infinite alternate linear;
          animation: 20s wave-move infinite alternate linear;
}
}